.ng-valid[required] {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
}

select.form-control {
    width: 100px;
    margin-left:10px;
    display: inline;
}

#securityCode.form-control {
    width: 80px;
    margin-left:10px;
    display: inline;
}

#securityCodeAlert.alert {
    width: 90px;
}